/* styleRegister.css */

.root {
    -fx-background-color: #f7fafd;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #2e2e2e;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-pref-height: 35px;
    -fx-font-size: 13px;
    -fx-background-radius: 6;
    -fx-border-color: #cccccc;
    -fx-border-radius: 6;
    -fx-padding: 0 0 0 8;
}

.button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-font-size: 13px;
}

.button:hover {
    -fx-background-color: #218838;
}

#header {
    -fx-font-size: 22px;
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
}


